<caption>Administrador de Campañas</caption>
<thead>
    <tr>
        <th class="medium2-col">
            Name
        </th>
        <th class="medium-col">
            Daily budget
        </th>
        <th class="medium-col">
            Starting Date
        </th>
        <th class="medium-col">
            Ending date
        </th>
        <th class="small-col">
            CPC
        </th>
        <th class="small-col">
            Clics
        </th>
        <th class="small-col">
            Prints
        </th>
        <th class="small-col">
            CTR
        </th>
        <th class="small-col">
            Budget
        </th>
        <th class="medium-col">
            State
        </th>
        <th class="medium-col">
            Acción
        </th>
        <th class="small-col">
            Delete
        </th>
    </tr>
</thead>
<tbody></tbody>
<tfoot>
    <tr>
        <td colspan="12">
            <input id="newAddRow" type="button" value="Agregar" class="ch-btn ch-btn-small" data-js="addBtn">
        </td>
    </tr>
</tfoot>
